html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    color: white;
}

body {

    background: linear-gradient(to right, rgba(166, 162, 162, 1), rgba(132, 117, 119, 1));
}

.general-container {
    border: none;
    /* Quitar el borde */
    width: 500px;
    height: 500px;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    background: linear-gradient(to right, rgba(207, 210, 205, 1), rgb(166, 162, 162, 1));

    box-shadow: 5px 5px 10px 5px rgba(132, 117, 119, 1);

}

.div-foto {
    border: 2px solid black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;

    background-image: url('https://miro.medium.com/v2/resize:fit:640/1*S9nfwPgDzhOA14nOspP1Yw.jpeg');
    background-size: cover;
    background-position: center;
    /* position: absolute; */

    transform: translate(0%, 5%);

    justify-content: center;
}

h2 {
    text-align: center;
    margin-top: 5px;
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
}

.soy,
p {
    text-align: center;
    margin-top: -10px;
}

button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 0px;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    font-size: 15px;
    margin-left: 35%;
}

button:hover {
    background-color: white;
    color: black;
    box-shadow: 2px 2px 10px 2px gray;
}

.tec-manejo {
    margin-top: 15px;
}

.tec-leng {
    display: flex;
    flex-direction: column;
    margin-bottom: -40px;
}

.tec-leng-1 {
    display: flex;
    justify-content: center;
    margin-top: -20px;

}

.tec-leng-2 {
    display: flex;
    justify-content: center;
    margin-top: -20px;
    height: 65px;
    margin-bottom: 25px;
}

.tec-leng p {
    margin-right: 20px;
    border: 2px solid white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 0 transparent;
    margin: 15px;

    /* Transición para la propiedad box-shadow */
    transition: box-shadow 0.15s ease-out, color 0.15s ease-out, background-color 0.15s ease-out;

    /* Transición para la propiedad box-shadow con ease-in en el estado hover */
    transition: box-shadow 0.15s ease-in, color 0.15s ease-in, background-color 0.15s ease-in;

}

.button-html:hover {
    background-color: orange;
    color: white;
    border-color: orange;
    box-shadow: 0 0 10px 0px rgba(255, 165, 0, 0.8);
    cursor: default;
}

.button-css:hover {
    background-color: #229ce3;
    color: white;
    border-color: #229ce3;
    box-shadow: 0 0 10px 0px rgba(34, 156, 227, 0.8);
    cursor: default;
}

.button-js:hover {
    background-color: #f0c726;
    color: white;
    border-color: #f0c726;
    box-shadow: 0 0 10px 0px rgba(240, 199, 38, 0.8);
    cursor: default;
}

.button-py:hover {
    background-color: #365aa8;
    color: #f5f10f;
    border-color: #365aa8;
    box-shadow: 0 0 10px 0px rgba(54, 90, 168, 0.8);
    cursor: default;
}

.button-c:hover {
    background-color: #0f3699;
    color: white;
    border-color: #0f3699;
    box-shadow: 0 0 10px 0px rgba(15, 54, 153, 0.8);
    cursor: default;
}

.button-php:hover {
    background-color: #b14ad4;
    color: white;
    border-color: #b14ad4;
    box-shadow: 0 0 10px 0px rgba(177, 74, 212, 0.8);
    cursor: default;
}

.iconos {
    display: flex;
    justify-content: center;
    gap: 50px;
}

p {
    margin-top: 10px;
}

.icon-tabler-brand-linkedin,
.icon-tabler-brand-x,
.icon-tabler-brand-instagram,
.icon-tabler-brand-github {
    color: white;
    width: 8%;
    height: 8%;
    margin-top: -10px;
    transition: box-shadow 0.15s ease-out, color 0.15s ease-out, background-color 0.15s ease-out;

    /* Transición para la propiedad box-shadow con ease-in en el estado hover */
    transition: box-shadow 0.15s ease-in, color 0.15s ease-in, background-color 0.15s ease-in;
}

.icon-tabler-brand-github:hover {
    color: black;
    cursor: pointer;
}

.icon-tabler-brand-instagram:hover {
    color: black;
}

.icon-tabler-brand-x:hover {
    color: black;
    cursor: pointer;
}

.icon-tabler-brand-linkedin:hover {
    fill: #385996;

    cursor: pointer;
}

.mis-redes {
    font-size: 20px;
}


@media screen and (max-width: 550px) {
    .general-container {
        width: 70%;
        height: 75%;
    }

    button {
        margin-left: auto;
        margin-right: auto;
        margin-left: 30%;
    }
}

@media screen and (max-width: 540px) and (max-height: 960px) {
    .general-container {
        height: 90%;
    }
}

@media screen and (max-width: 450px) {

    .general-container {
        width: 70%;
        height: 60%;
    }

    button {
        margin-left: auto;
        margin-right: auto;
        margin-left: 25%;
    }
}

@media screen and (max-width: 430px) {
    .general-container {
        height: 65%;
    }
}

@media screen and (max-width: 420px) {
    .general-container {
        height: 70%;
    }
}

@media screen and (max-width: 415px) {
    .general-container {
        height: 60%;
    }
}

@media screen and (max-width: 414px) {
    .general-container {
        height: 68%;
    }
}

@media screen and (max-width: 412px) {
    .general-container {
        height: 60%;
    }
}

@media screen and (max-width: 400px) {
    .general-container {
        height: 75%;
        padding: 10px;
    }

    button {
        margin-left: 20%;
    }

    .tec-leng {
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 393px) {
    .general-container {
        width: 75%;
        height: 65%;
    }
}

@media screen and (max-width: 390px) and (max-height: 844px) {
    .general-container {
        height: 72%;
    }
}

@media screen and (max-width: 380px) {
    .general-container {
        height: 75%;
    }

    button {
        margin-left: 25%;
    }
}

@media screen and (max-width: 360px) and (max-height: 880px) {
    .general-container {
        height: 80%;
    }
}

@media screen and (max-width: 360px) and (max-height: 800px) {
    .general-container {
        height: 68%;
    }
}

@media screen and (max-width: 360px) and (max-height: 780px) {
    .general-container {
        height: 80%;
    }
}

@media screen and (max-width: 320px) {
    .general-container {
        width: 84%;
        height: 105%;
    }
}